/* index.css */
body, html {
    /* height: 100%; */
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    height: 93.75vh;
  }
  
  .two-thirds {
    width: 66.66%;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .line
  {
    margin-left: 10%;
  }
  .message
  {
    margin-left: 10%;
    color: red;
  }
  .one-third {
    width: 33.33%;
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  
  .content {
    margin-bottom: 20px;
  }
  
  .form-container {
    width: 80%;
    max-width: 400px;
    
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-field label {
    display: block;
    margin-bottom: 5px;
    margin-left: 10%;
  }
  
  .form-field input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10%;
  }
  
  .blue-button {
    background-color: #007bff;
    margin-left: 10%;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .blue-button:hover {
    background-color: #0056b3;
  }
  
  .button-container {
    margin-top: ;
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    background-color: #ffffff;
    color: #007bff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .button-container button:hover {
    background-color: #0056b3;
  }


  /* css styles */